<div class="row" id='shortcut-form' role='form'>
  <div {{bind-attr class=':col-md-7 :form-group titleError:has-error'}}>
    {{input type="text" id="new-shortcut-title" class='form-control' placeholder="Shortcut description" action='createShortcut' value=newShortcutTitle  }}
    {{#if titleError}}
      <span class="help-block">Fill title input!</span>
    {{/if}}
  </div>
  <div {{bind-attr class=':col-md-3 :form-group keyError:has-error'}}>
    {{input type="text" id="new-shortcut-key" class='form-control' placeholder="Keys" value=newShortcutKey action='createShortcut' }}
    {{#if keyError}}
      <span class="help-block">Fill key input!</span>
    {{/if}}
  </div>
  <div class='col-md-2'>
    <button {{action 'createShortcut'}} class='btn btn-primary'>Create</button>
  </div>
</div>

{{#each itemController='shortcut'}}
  {{view SublimeShortcuts.ShortcutView}}
{{else}}
  <div class='row'>
    <div class='col-md-12'>
      <div class='alert alert-info '>No shortcut yet. <strong>Create first above!</strong></div>
    </div>
  </div>
{{/each}}